:root {
    --background-color: #fbf8ef;
    --accent-color: #16c47f;
    --secondary-color: #f11a7b;
}

.container {
    height: 100%;
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 30px;
}

.game-segments {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
}

.game-segment {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    width: 150px;
    padding: 15px;
    gap: 10px;
}

.game-image {
    width: 100%;
    aspect-ratio: 3/4;
    border: 1px solid #000;
    border-radius: 10px;
}

.card-title {
    font-weight: 600;
}

.event-card {
    width: 300px;
}

.event-image {
    width: 100%;
    aspect-ratio: 16/9;
    border: 1px solid #000;
    border-radius: 10px;
}

.game-details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.game-cover {
    width: 60%;
    aspect-ratio: 3/4;
    border: 1px solid #000;
    border-radius: 10px;
    align-self: center;
}

.game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.game-name {
    font-weight: 600;
    font-size: 25px;
    flex: 1;
}

.event-title {
    font-weight: 600;
    font-size: 25px;
}

.developer {
    font-size: 16px;
    font-weight: 500;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating {
    font-size: 20px;
    font-weight: bold;
}

.rating-icon {
    width: 25px;
    aspect-ratio: 1;
}

.release-date-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #000;
    align-self: flex-start;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--accent-color);
}

.release-date-icon {
    width: 20px;
    aspect-ratio: 1;
}

.release-date {
    font-weight: 500;
    font-size: 12px;
}

.game-summary {
    font-size: 15px;
    margin-top: 10px;
}

.back-button {
    padding: 10px;
    border: 1px solid #000;
    align-self: flex-start;
    border-radius: 50px;
}

.back-button-icon {
    width: 20px;
    aspect-ratio: 1;
}

.heading {
    font-weight: 600;
    font-size: 18px;
}

.summary,
.event-description {
    font-size: 15px;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    border: 1px solid #000;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 20px;
}

.horizontal-list {
    list-main-axis-gap: 15px;
    padding-right: 20px;
}

.screenshot {
    width: 230px;
    aspect-ratio: 16/9;
    border: 1px solid #000;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loader-text {
    animation: loader-animation 1.5s infinite;
    font-weight: bold;
    font-size: 30px;
    color: var(--accent-color);
    text-shadow:
        2px 2px 4px #0000ff,
        -2px -2px 4px #00ffff;
}

@keyframes loader-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}

.event-container {
    padding: 20px;
}

.event-status {
    color: var(--secondary-color);
}
