:root {
    --background-color: #fbf8ef;
    --accent-color: #16c47f;
}

.scroll-container {
    height: 100%;
    background-color: var(--background-color);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

.scroll-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px;
    gap: 10px;
}

.card-title {
    font-weight: 600;
}

.image {
    border: 1px solid #000;
    border-radius: 10px;
}

.game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.game-name {
    font-weight: 600;
    font-size: 25px;
    flex: 1;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-icon {
    width: 25px;
    aspect-ratio: 1;
}

.rating {
    font-size: 20px;
    font-weight: bold;
}

.developer {
    font-size: 16px;
    font-weight: 500;
}

.date-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #000;
    align-self: flex-start;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--accent-color);
}

.date-icon {
    width: 20px;
    aspect-ratio: 1;
}

.date {
    font-weight: 500;
    font-size: 12px;
}

.event-title {
    font-weight: 600;
    font-size: 25px;
}

.summary {
    font-size: 15px;
}

.back-button {
    padding: 10px;
    border: 1px solid #000;
    align-self: flex-start;
    border-radius: 50px;
}

.back-button-icon {
    width: 20px;
    aspect-ratio: 1;
}

.heading {
    font-size: 18px;
    font-weight: 600;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    border: 1px solid #000;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 20px;
}

.horizontal-list {
    list-main-axis-gap: 15px;
    padding-right: 20px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loader-text {
    animation: loader-animation 1.5s infinite;
    font-weight: bold;
    font-size: 30px;
    color: var(--accent-color);
    text-shadow:
        2px 2px 4px #0000ff,
        -2px -2px 4px #00ffff;
}

@keyframes loader-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}

.event-status {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 13px;
}
